h1 {text-align:center;color:rgb(255, 0, 0);}
h1 {text-decoration-line:underline;}
h1 {font-family:cursive;}
h1 {font-size:45px;}

h2 {font-size:30px;}
h2 {text-align:center;color:rgb(15, 12, 12);}

h3 {font-size:25px;}
h3 {text-align:center;color:rgb(253, 5, 5);}

p {text-align:center;font-size:27px;}

body {background-color:rgb(255, 255, 255);}

footer {font-size: larger;}

nav {font-size:xx-large;color: rgb(0, 0, 0);}

aside {font-size: x-large;}

h4{font-size: 30px;text-align: center;}

img{height:583px;
width: 416px;
display: block;margin-left: auto;margin-right: auto;}
